.navbar {
    background: linear-gradient(90deg, magenta, red, yellow, orange, red, magenta);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .menu-icon {
    cursor: pointer;
  }
  
  .menu-line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
  }
  
 
  .search-box {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
  }
  
  .search-box input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
  }
  
  .search-box button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .search-box button img {
    width: 20px;
    height: 20px;
  }
  

  .navbar-title {
    font-family: 'Cursive', serif;
    font-size: 24px;
    color: black;
    margin: 0 20px;
  }

  .navbar-link a {
    font-family: 'Cursive', serif;
    font-size: 18px;
    color: black;
    text-decoration: none;
  }
  
  .navbar-link a:hover {
    text-decoration: underline;
  }
  