<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italianno&family=Lancelot&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<nav class="navbar">
    <div class="navbar-container">
      <div class="menu-icon">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Buscar" />
        <button clastype="submit" class="search-button">
          <i class='bx bx-search-alt-2 bx-flip-horizontal' ></i>
        </button>
      </div>
      <div>
        <a href="/" class="navbar-title">
          Dulce Tradicion</a>
      </div>
      <div class="navbar-link">
        <a href="/procedimientos">Procedimientos</a>
      </div>
    </div>
  </nav>
  