<nav class="navbar">
    <div class="navbar-container">
      <div class="menu-icon">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Buscar" />
        <button type="submit">
          <img src="search-icon.png" alt="search icon">
        </button>
      </div>
      <div class="navbar-title">DulceTradición</div>
      <div class="navbar-link">
        <a href="#">Procedimientos</a>
      </div>
    </div>
  </nav>
  