<app-navbar></app-navbar>
<div class="container">
    <h1>Procedimientos</h1>
    <div class="procedures-list">
      <!-- Procedimiento 1 -->
      <div class="procedure-item">
        <video class="procedure-video" width="500px" controls>
          <source src="assets/video3.mp4" type="video/mp4">
        </video>
        <div class="procedure-info">
          <div class="field">
            <span class="field-title">Producto:</span>
            <span> Ate</span>
          </div>
          <div class="field">
            <span class="field-title">Ingredientes:</span>
            <span>
                <br>Guayaba <br>
                Azucar <br>
                Membrillo
            </span> <br>
          </div>
          <div class="field">
            <span class="field-title">Descripción:</span>
            <span>Lava y pela los membrillos; retira el corazón y córtalos en trozos. <br>
                Cocina los membrillos cubiertos de agua hasta que estén tiernos (30-40 minutos). <br>
                Haz puré con los membrillos cocidos. <br>
                Añade azúcar (800g por cada kg de puré) y cocina a fuego bajo, removiendo constantemente. <br>
                Cocina hasta espesar, cuando el puré se despegue de las paredes de la olla (40-60 minutos). <br>
                Vierte en moldes, deja enfriar y desmolda. <br>
                Almacena en un lugar fresco y seco.</span>
          </div>
        </div>
      </div>
      <div class="procedure-item">
        <video class="procedure-video" width="500px" controls>
            <source src="assets/video5.mp4" type="video/mp4">
          </video>
        <div class="procedure-info">
          <div class="field">
            <span class="field-title">Producto:</span>
            <span> Dulce de leche</span>
          </div>
          <div class="field">
            <span class="field-title">Ingredientes:</span>
            <span> Leche (puede ser leche de vaca o leche de cabra, según la receta tradicional de algunas regiones). <br>
                Azúcar (blanca o morena). <br>
                Bicarbonato de sodio (en pequeñas cantidades, para ayudar a la caramelización). <br>
                Canela en rama (opcional, para darle un toque de sabor). <br>
                Vainilla (esencia o extracto, opcional).</span> <br>
          </div>
          <div class="field">
            <span class="field-title">Descripción:</span>
            <span>Se pone a calentar la leche al fuego y se agrega azucar, se sigue moviendo hasta que vaya quedando una 
                sensacion pastosa del producto, despues se le agrega el sabor que tendra, es decir un colorante y se deja secar</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<app-footer></app-footer>