
.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: linear-gradient(90deg, #ff00c3, red, yellow,  red, #ff00c3 );
    color: black;
    position: relative;
    height: 125px;
  }
  
  .footer-left {
    width: 8%;
    font-size: 18px;
    text-align: left;
    font-family: "Lancelot", serif;
  }
  .footer-right {
    width: 10%;
    font-size: 18px;
    text-align: right;
    font-family: "Lancelot", serif;
  }
  
  .footer-center {
    font-size: 28px;
    font-family:  "Italianno", cursive;
    margin-top: 105px;
    text-align: center;
  }
  
  .footer h2 {
    margin: 0;
  }
  
  .footer p {
    margin: 0;
    line-height: 1.4;
  }
  