<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italianno&family=Lancelot&display=swap" rel="stylesheet">
<footer class="footer">
    <div class="footer-left">
      <p>Contáctanos al teléfono 9674498464 y con gusto atenderemos tus dudas</p>
    </div>
     <div class="footer-center">
      <h2>DulceTradición</h2>
    </div>
    <div class="footer-right">
      <p>Contáctanos al correo dulceTradiciongmail.com y con gusto atenderemos tus dudas</p><br>
    </div>
  </footer>
  