<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lancelot&display=swap" rel="stylesheet">
<app-navbar></app-navbar>
<div class="landing-container">
    <section class="hero-section">
      <div class="hero-text">
        <p>Descubre la magia de México en cada dulce: Sabores artesanales que fusionan tradición, cultura y pasión en cada mordida.</p>
      </div>
      <div class="hero-image">
        <img src="/assets/foto2.png" alt="Dulces Mexicanos">
      </div>
    </section>
    <section class="regions-section">
      <p class="title1">Todo México presente</p>
      <div class="regions-grid">
        <div class="region-card">
          <img src="/assets/foto3.png" alt="Dulces de Oaxaca">
          <p><a href="/oaxaca">Oaxaca</a></p>
        </div>
        <div class="region-card">
          <img src="/assets/foto5.png" alt="Dulces de Chihuahua">
          <p>Chihuahua</p>
        </div>
        <div class="region-card">
          <img src="/assets/foto4.png" alt="Dulces de Puebla">
          <p>Puebla</p>
        </div>
      </div>
      <div class="scroll-icon">
        <span>&#9660;</span> 
      </div>
    </section>
    <section class="process-section">
      <div class="process-text">
        <p>Conoce los procesos de elaboración de estos productos desde cero y su impacto en la tradición mexicana</p>
      </div>
      <div class="video">
      <video width="600" controls>
        <source src="assets/video2.mp4" type="video/mp4">
      </video>
      <a href="/procedimientos">Conoce más</a></div>
    </section>
  </div>
  <app-footer></app-footer>
  