.landing-container{
  background-color: #f7bf8b35;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .landing-container {
    width: 100%;
  }
  
  .hero-section {
    display: flex;
    flex-direction: row-reverse;
    color: white;
    position: relative;
    
  }
  
  .hero-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-text p {
    font-size: 53px;
    max-width: 300px;
    position: absolute;
    left: 55px;
    font-family: "Lancelot", serif;
    margin-top: 2%;
  }

  .lancelot-regular {
    font-family: "Lancelot", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .hero-image img {
    width: 1640px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 8px;
  }
  
  .regions-section {
    text-align: center;
    padding: 20px 0;
    position: relative;
  }
  
  .title1 {
    font-size: 36px;
    margin-bottom: 20px;
    position: relative;
    background: linear-gradient(90deg,  rgba(255, 0, 0, 0.227), rgba(255, 255, 0, 0.288));
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lancelot", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 8px;
  }
  
  .regions-grid {
    display: inline-flex;
    justify-content: center;
    gap: 100px;
  }
  
  .region-card {
    margin-top: 30px;
    text-align: center;
  }
  
  .region-card img {
    width: 270px;
    height: 270px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .region-card p {
    margin-top: 10px;
    font-size: 40px;
  }

  .region-card p:hover {
    text-decoration: underline;
  }

  .scroll-icon {
    margin-top: 20px;
    font-size: 24px;
    color: black;
  }
  
  .process-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-top: 2px solid black;
  }
  
  .process-text p {
    font-size: 38px;
    max-width: 400px;
    text-align: left;
    font-family: "Lancelot", serif;
  }
  
  .process-image {
    text-align: center;
  }
  
  .process-image img {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }
  
  .process-image p {
    margin-top: 10px;
    font-size: 16px;
    color: black;
    font-weight: bold;

  }

  .video{
    display: block;
    margin-top: 50px;
  }

  .video p{
    font-size: 38px;
    font-family: "Lancelot", serif;
    justify-content: center;
    text-align: center;
  }
  .video p:hover {
    text-decoration: underline;
  }
  
  