<app-navbar></app-navbar>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dulces Tradicionales de Oaxaca</title>
</head>
<body>
    <div class="container">
        <section class="intro">
            <h1>Oaxaca</h1>
            <p>
                En Oaxaca, los dulces tradicionales son una delicia que refleja la riqueza cultural de la región. 
                Entre los más populares se encuentran las nieves de leche quemada, los nicuatoles (gelatina de maíz con azúcar), 
                y las famosas obleas con cajeta. También destacan las botellas de mezcal en miniatura hechas de chocolate y 
                los cocadas, hechas con coco rallado y azúcar.
            </p>
        </section>

        <section class="product-list">
            <h2>Lista de productos</h2>
            <div class="product">
                <img src="assets/foto6.jpg" alt="Dulce 1">
                <div class="product-details">
                    <p><strong>Nombre:</strong> Nicuatole</p>
                    <p><strong>Descripción:</strong> Gelatina de maíz con azúcar.</p>
                    <p><strong>Precio aprox:</strong> $30 MXN</p>
                </div>
            </div>

            <div class="product">
                <img src="assets/foto7.jpg" alt="Dulce 2">
                <div class="product-details">
                    <p><strong>Nombre:</strong> Obleas con cajeta</p>
                    <p><strong>Descripción:</strong> Obleas rellenas de cajeta.</p>
                    <p><strong>Precio aprox:</strong> $25 MXN</p>
                </div>
            </div>

            <div class="product">
                <img src="assets/foto10.jpg" alt="Dulce 3">
                <div class="product-details">
                    <p><strong>Nombre:</strong> Cocada</p>
                    <p><strong>Descripción:</strong> Dulce de coco rallado.</p>
                    <p><strong>Precio aprox:</strong> $35 MXN</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
<app-footer></app-footer>